<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Roberto Garcia">
    <meta name="keywords" content="hotel management reserves">
    <title>Hotel Management</title>
</head>

<body>
    <header>

        <nav class="primary-nav">
            <ul>
                <li class="menu-item current"><a href="#home">Home</a></li>
                <li class="menu-item"><a href="#services">Services</a></li>
                <li class="menu-item"><a href="#about">About</a></li>
                <li class="menu-item"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to the JS Dev Agency</h1>

        <div class="container">
            <section class="section-a">
                <h2>UI/UX</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat, atque accusamus voluptas
                    laudantium facilis iure adipisci ab veritatis eos neque culpa id nostrum tempora tempore minima.
                    Adipisci, obcaecati repellat.</p>
                <p class="wbkv9-Amount-integerPart integerPart">2959</p>
                <div class="wbkv9-Entity-amountLabelContainer _1ZX7-M-_YU0sEXye5bWpWN">
                    <div class="wbkv9-Entity-amountCurrencyLabel _1UbZw6VqExeLJtyHT87moJ">EUR</div>
                    <div class="wbkv9-Entity-nightsLabel _3DE_M6rOCVjpNKJW7lxWXc">noche</div>
                </div>
                <div class="modal-wrapper booknow-show-text">
                    <div class="close-btn mobile-only"></div>
                    <div class="rooms counter-row">
                        <div class="text booknow-show-text"> Rooms </div>
                        <div class="rooms-info booknow-show-text remove">
                            <div class="tooltip-icon booknow-show-text"></div>
                            <div class="tooltip-text booknow-show-text">
                                <div class="booknow-show-text">Maximum 9 adults per rooom </div>
                                <div class="booknow-show-text">Maximum 3 kids per room </div>
                            </div>
                        </div>
                        <div class="counters">
                            <div class="booknow-show-text minus"> - </div>
                            <div class="booknow-show-text value"> 0 </div>
                            <div class="booknow-show-text plus"> + </div>
                        </div>
                    </div>
                    <div class="adults counter-row">
                        <div class="text booknow-show-text"> Adults </div>
                        <div class="counters">
                            <div class="minus booknow-show-text"> - </div>
                            <div class="value booknow-show-text"> 0 </div>
                            <div class="plus booknow-show-text"> + </div>
                        </div>
                    </div>
                    <div class="kids counter-row">
                        <div class="text booknow-show-text"> Kids (0-12 yrs) </div>
                        <div class="counters">
                            <div class="minus booknow-show-text"> - </div>
                            <div class="value booknow-show-text"> 0 </div>
                            <div class="plus booknow-show-text"> + </div>
                        </div>
                    </div>
                    <div class="booknow-show-text kids-info-wrapper"></div>
                    <div class="done-button btn--primary booknow-show-text"> Done</div>
                </div>
                <div class="wbkv9-Entity-buttonWrapper _3vqnfs48yZz_Ncaf3s1rws"><button
                        class="wbkv9-Entity-button _1WEZYMTz__NZhxupgbcmay">Ver </button></div>
            </section>
            <section class="section-b">
                <h2>PWA Development</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni fugiat similique illo nobis quibusdam
                    commodi aspernatur, tempora doloribus quod, consectetur deserunt, facilis natus optio. Iure
                    provident labore nihil in earum.</p>
                <p class="wbkv9-Amount-integerPart integerPart">2949</p>
                <div class="wbkv9-Entity-amountLabelContainer _1ZX7-M-_YU0sEXye5bWpWN">
                    <div class="wbkv9-Entity-amountCurrencyLabel _1UbZw6VqExeLJtyHT87moJ">EUR</div>
                    <div class="wbkv9-Entity-nightsLabel _3DE_M6rOCVjpNKJW7lxWXc">noche</div>
                </div>
                <div class="wbkv9-Entity-buttonWrapper _3vqnfs48yZz_Ncaf3s1rws"><button
                        class="wbkv9-Entity-button _1WEZYMTz__NZhxupgbcmay">Ver </button></div>>
            </section>
            <section class="section-c">
                <h2>Mobile App Dev</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eos culpa laudantium consequatur ea!
                    Quibusdam, iure obcaecati. Adipisci deserunt, alias repellat eligendi odit labore! Fugit iste sit
                    laborum debitis eos?</p>
                <p class="wbkv9-Amount-integerPart integerPart">2939</p>
                <div class="wbkv9-Entity-amountLabelContainer _1ZX7-M-_YU0sEXye5bWpWN">
                    <div class="wbkv9-Entity-amountCurrencyLabel _1UbZw6VqExeLJtyHT87moJ">EUR</div>
                    <div class="wbkv9-Entity-nightsLabel _3DE_M6rOCVjpNKJW7lxWXc">noche</div>
                </div>
                <div class="wbkv9-Entity-buttonWrapper _3vqnfs48yZz_Ncaf3s1rws"><button
                        class="wbkv9-Entity-button _1WEZYMTz__NZhxupgbcmay">Ver </button></div>
            </section>
            <form id="witform" method="GET">
                <div class="inputWrap">
                    <label for="datein" id="dateinLabel">Entrada</label>
                    <input type="text" id="datein" name="datein" class="hasDatepicker">
                </div>
                <div class="inputWrap">
                    <label for="dateout" id="dateoutLabel">Salida</label>
                    <input type="text" id="dateout" name="dateout" class="hasDatepicker">
                </div>
                <div class="inputWrap">
                    <label for="adults" class="adultsLabel">Adultos</label>
                    <select id="adults" name="adults">
                        <option value="1">1</option>
                        <option value="2" selected="">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="inputWrap">
                    <label for="kids" class="adultsLabel">Niños</label>
                    <select id="kids" name="kids">
                        <option value="1" selected="">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="inputWrap">
                    <input id="bookingBtn" type="button" value="Reservar">
                </div>
            </form>
        </div>
    </main>
    <script src="../models/hotels.js"></script>
    <script src="../controllers/main.js"></script>
    <script src="../controllers/function.js"></script>
</body>

</html>