<!DOCTYPE html>
<html lang="en">

<head>
    <!--Much needed metas-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Roberto Garcia">
    <meta name="keywords" content="hotel management reserves">
    <!--end metas-->
    <!--Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--End Bootstrap-->
    <title>Hotel Management</title>
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid pt-4">
              <a class="navbar-brand" href="https://www.condadohotel.com" target="_blank">CONDADO HOTEL</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main>
        

        <div class="container">
           <div class="allSections d-none">
            <section class="section-a">
                <h2>UI/UX</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat, atque accusamus voluptas
                    laudantium facilis iure adipisci ab veritatis eos neque culpa id nostrum tempora tempore minima.
                    Adipisci, obcaecati repellat.</p>
                <p class="wbkv9-Amount-integerPart integerPart">2959</p>
                <div class="wbkv9-Entity-amountLabelContainer _1ZX7-M-_YU0sEXye5bWpWN">
                    <div class="wbkv9-Entity-amountCurrencyLabel _1UbZw6VqExeLJtyHT87moJ">EUR</div>
                    <div class="wbkv9-Entity-nightsLabel _3DE_M6rOCVjpNKJW7lxWXc">noche</div>
                </div>
                <div class="modal-wrapper booknow-show-text">
                    <div class="close-btn mobile-only"></div>
                    <div class="rooms counter-row">
                        <div class="text booknow-show-text"> Rooms </div>
                        <div class="rooms-info booknow-show-text remove">
                            <div class="tooltip-icon booknow-show-text"></div>
                            <div class="tooltip-text booknow-show-text">
                                <div class="booknow-show-text">Maximum 9 adults per rooom </div>
                                <div class="booknow-show-text">Maximum 3 kids per room </div>
                            </div>
                        </div>
                        <div class="counters">
                            <div class="booknow-show-text minus"> - </div>
                            <div class="booknow-show-text value"> 0 </div>
                            <div class="booknow-show-text plus"> + </div>
                        </div>
                    </div>
                    <div class="adults counter-row">
                        <div class="text booknow-show-text"> Adults </div>
                        <div class="counters">
                            <div class="minus booknow-show-text"> - </div>
                            <div class="value booknow-show-text"> 0 </div>
                            <div class="plus booknow-show-text"> + </div>
                        </div>
                    </div>
                    <div class="kids counter-row">
                        <div class="text booknow-show-text"> Kids (0-12 yrs) </div>
                        <div class="counters">
                            <div class="minus booknow-show-text"> - </div>
                            <div class="value booknow-show-text"> 0 </div>
                            <div class="plus booknow-show-text"> + </div>
                        </div>
                    </div>
                    <div class="booknow-show-text kids-info-wrapper"></div>
                    <div class="done-button btn--primary booknow-show-text"> Done</div>
                </div>
                <div class="wbkv9-Entity-buttonWrapper _3vqnfs48yZz_Ncaf3s1rws"><button
                        class="wbkv9-Entity-button _1WEZYMTz__NZhxupgbcmay">Ver </button></div>
            </section>
            <section class="section-b">
                <h2>PWA Development</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni fugiat similique illo nobis quibusdam
                    commodi aspernatur, tempora doloribus quod, consectetur deserunt, facilis natus optio. Iure
                    provident labore nihil in earum.</p>
                <p class="wbkv9-Amount-integerPart integerPart">2949</p>
                <div class="wbkv9-Entity-amountLabelContainer _1ZX7-M-_YU0sEXye5bWpWN">
                    <div class="wbkv9-Entity-amountCurrencyLabel _1UbZw6VqExeLJtyHT87moJ">EUR</div>
                    <div class="wbkv9-Entity-nightsLabel _3DE_M6rOCVjpNKJW7lxWXc">noche</div>
                </div>
                <div class="wbkv9-Entity-buttonWrapper _3vqnfs48yZz_Ncaf3s1rws"><button
                        class="wbkv9-Entity-button _1WEZYMTz__NZhxupgbcmay">Ver </button></div>>
            </section>
            <section class="section-c">
                <h2>Mobile App Dev</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eos culpa laudantium consequatur ea!
                    Quibusdam, iure obcaecati. Adipisci deserunt, alias repellat eligendi odit labore! Fugit iste sit
                    laborum debitis eos?</p>
                <p class="wbkv9-Amount-integerPart integerPart">2939</p>
                <div class="wbkv9-Entity-amountLabelContainer _1ZX7-M-_YU0sEXye5bWpWN">
                    <div class="wbkv9-Entity-amountCurrencyLabel _1UbZw6VqExeLJtyHT87moJ">EUR</div>
                    <div class="wbkv9-Entity-nightsLabel _3DE_M6rOCVjpNKJW7lxWXc">noche</div>
                </div>
                <div class="wbkv9-Entity-buttonWrapper _3vqnfs48yZz_Ncaf3s1rws"><button
                        class="wbkv9-Entity-button _1WEZYMTz__NZhxupgbcmay">Ver </button></div>
            </section>
        </div>
            <form class="mx-auto p-4 bg-transparent border-0 row" id="witform" method="GET">
                <div class="inputWrap pb-3 col-lg-6 justify-content-center mx-auto">
                    <label class="d-none" for="datein" id="dateinLabel">Entrada</label>
                    <input type="text" id="datein" name="datein" class="hasDatepicker border-0 border-bottom" placeholder="Entrada">
                </div>
                <div class="inputWrap pb-3 col-lg-6 justify-content-center mx-auto">
                    <label class="d-none" for="dateout" id="dateoutLabel">Salida</label>
                    <input type="text" id="dateout" name="dateout" class="hasDatepicker border-0 border-bottom" placeholder="Salida">
                </div>
                <div class="row selectKids mx-auto bg-transparent"></div>
                <div class="inputWrap pb-3">
                    <label for="adults" class="adultsLabel">Adultos</label>
                    <select id="adults" name="adults">
                        <option value="1">1</option>
                        <option value="2" selected="">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="inputWrap pb-3">
                    <label for="kids" class="adultsLabel">Niños</label>
                    <select id="kids" name="kids">
                        <option value="1" selected="">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="inputWrap">
                    <input class="btn btn-secondary" id="bookingBtn" type="button" value="Reservar">
                </div>
            </form>
            <hr>
            <div class="EntityCarousel">
                <div>
                    <div>
                        <div class="wbkv9-Entity-container _3HdkwWnIugh-zhuIVBx3fR _2QLLr47Hq9q0kHTlq6e23R">
                            <div class="wbkv9-Entity-wrapper _3m1rQ10bj0gda8v8AYAL3h">
                                
                                <div class="wbkv9-Entity-infoContainer _2u6MoL6NmG2Fdbz3tdwPWH">
                                    <div class="sc-jJkQYJ iiVQlw wbkv9-Entity-infoWrapper _1EHrjEtUBslofHa1-Qxvr6">
                                        <div class="wbkv9-Entity-name _30kPfuzLmiPUaoGbLFuWuP">
                                            Habitación Doble (1 o 2pax)
                                        </div>
                                        <div class="sc-cKZAiZ kqrSZN wbkv9-Entity-descriptionContainer iKbLQTQu8xnH4Dn5VHBrL">
                                            <div class="wbkv9-Entity-description _2t_03_bcggpV0BoVQ4Ki3c">
                                                <span>
                                                    <p class="full">Elegante estancia totalmente insonorizada con 2
                                                        camas individuales de 200 x 90 cm o bajo petición, cama
                                                        matrimonial.Suelo de parquet. Baño privado con gran ducha o
                                                        bañera. Artículos de aseo gratis.</p>
                                                    <p class="full">La habitación está equipada con caja fuerte, TV con
                                                        canales internacionales, teléfono, aire acondicionado y
                                                        calefacción regulable, secador de pelo, armarios con luz
                                                        interior y escritorio. Wifi gratis.</p>
                                                    <p class="full">Todas las habitaciones disponen de cable LAN para
                                                        usar nuestra fibra óptica gratuitamente. Superficie aproximada
                                                        18 m2.</p>
                                                </span></div>
                                            <div class="wbkv9-Entity-readMore _25sso2ThMtEtsJeNlelH4F">
                                                <span>
                                                    Saber
                                                    más
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wbkv9-Entity-ariContainer _3XRnTb7Ge5OHN6jrsOqltj">
                                        <div class="wbkv9-Entity-name _30kPfuzLmiPUaoGbLFuWuP">
                                            Habitación Doble (1 o 2 pax)
                                        </div>
                                        <div class="wbkv9-Entity-amountContainer _3b4stKpRfF_iYBmmL1o4pk">
                                            <div class="wbkv9-Entity-amountLabelContainer _1ZX7-M-_YU0sEXye5bWpWN">
                                                <div class="wbkv9-Entity-amountCurrencyLabel _1UbZw6VqExeLJtyHT87moJ">
                                                    EUR
                                                </div>
                                                <div class="wbkv9-Entity-nightsLabel _3DE_M6rOCVjpNKJW7lxWXc">
                                                    noche
                                                </div>
                                            </div>
                                            <div class="wbkv9-Entity-amount _3HV1pUB-KpKmZSvv1nyNMx">
                                                <div class="wbkv9-Amount Amount">
                                                    <div class="wbkv9-Amount-integerPart integerPart">69</div>
                                                    <div class="wbkv9-Amount-decimalPart decimalPart">60</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wbkv9-Entity-buttonWrapper _3vqnfs48yZz_Ncaf3s1rws"><button
                                                class="wbkv9-Entity-button _1WEZYMTz__NZhxupgbcmay">Ver </button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="wbkv9-Entity-container _3HdkwWnIugh-zhuIVBx3fR _2QLLr47Hq9q0kHTlq6e23R">
                            <div class="wbkv9-Entity-wrapper _3m1rQ10bj0gda8v8AYAL3h">
                                
                                <div class="wbkv9-Entity-infoContainer _2u6MoL6NmG2Fdbz3tdwPWH">
                                    <div class="sc-jJkQYJ iiVQlw wbkv9-Entity-infoWrapper _1EHrjEtUBslofHa1-Qxvr6">
                                        <div class="wbkv9-Entity-name _30kPfuzLmiPUaoGbLFuWuP">Habitación Triple</div>
                                        <div
                                            class="sc-cKZAiZ kqrSZN wbkv9-Entity-descriptionContainer iKbLQTQu8xnH4Dn5VHBrL">
                                            <div class="wbkv9-Entity-description _2t_03_bcggpV0BoVQ4Ki3c"><span>
                                                    <p class="full">Amplia y confortable estancia totalmente
                                                        insonorizada con 3 camas individuales de 200 x 90 cm o bajo
                                                        petición, 1 cama matrimonial y 1 individual.&nbsp;Suelo de
                                                        parquet. Gran baño privado con bañera. Artículos de aseo gratis.
                                                    </p>
                                                    <p class="full">La habitación está equipada con caja fuerte, TV con
                                                        canales internacionales, teléfono, aire acondicionado y
                                                        calefacción regulable, secador de pelo, armarios con luz
                                                        interior y escritorio. Wifi gratis.</p>
                                                    <p class="full">Todas las habitaciones disponen de cable LAN para
                                                        usar nuestra fibra óptica gratuitamente.</p>
                                                    <p class="full">Superficie aproximada 24 m2.</p>
                                                </span></div>
                                            <div class="wbkv9-Entity-readMore _25sso2ThMtEtsJeNlelH4F"><span>Saber
                                                    más</span></div>
                                        </div>
                                    </div>
                                    <div class="wbkv9-Entity-ariContainer _3XRnTb7Ge5OHN6jrsOqltj">
                                        <div class="wbkv9-Entity-name _30kPfuzLmiPUaoGbLFuWuP">Habitación Triple</div>
                                        <div class="wbkv9-Entity-amountContainer _3b4stKpRfF_iYBmmL1o4pk">
                                            <div class="wbkv9-Entity-amountLabelContainer _1ZX7-M-_YU0sEXye5bWpWN">
                                                <div class="wbkv9-Entity-amountCurrencyLabel _1UbZw6VqExeLJtyHT87moJ">
                                                    EUR</div>
                                                <div class="wbkv9-Entity-nightsLabel _3DE_M6rOCVjpNKJW7lxWXc">noche
                                                </div>
                                            </div>
                                            <div class="wbkv9-Entity-amount _3HV1pUB-KpKmZSvv1nyNMx">
                                                <div class="wbkv9-Amount Amount">
                                                    <div class="wbkv9-Amount-integerPart integerPart">99</div>
                                                    <div class="wbkv9-Amount-decimalPart decimalPart">60</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wbkv9-Entity-buttonWrapper _3vqnfs48yZz_Ncaf3s1rws"><button
                                                class="wbkv9-Entity-button _1WEZYMTz__NZhxupgbcmay">Ver </button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="wbkv9-Entity-container _3HdkwWnIugh-zhuIVBx3fR _2_3xiX0KsX3XauZGMPazen">
                            <div class="wbkv9-Entity-wrapper _3m1rQ10bj0gda8v8AYAL3h">
                                <div class="wbkv9-Entity-infoContainer _2u6MoL6NmG2Fdbz3tdwPWH">
                                    <div class="sc-jJkQYJ iiVQlw wbkv9-Entity-infoWrapper _1EHrjEtUBslofHa1-Qxvr6">
                                        <div class="wbkv9-Entity-name _30kPfuzLmiPUaoGbLFuWuP">Habitación Superior (1 o
                                            2 pax)</div>
                                        <div
                                            class="sc-cKZAiZ kqrSZN wbkv9-Entity-descriptionContainer iKbLQTQu8xnH4Dn5VHBrL">
                                            <div class="wbkv9-Entity-description _2t_03_bcggpV0BoVQ4Ki3c"><span>
                                                    <p class="full">Espaciosa estancia totalmente insonorizada con 2
                                                        camas individuales de 200 x 90 cm o bajo petición, cama
                                                        matrimonial.</p>
                                                    <p class="full">Terraza privada amueblada para 2 personas. Suelo de
                                                        parquet. Baño privado con gran ducha o bañera. Artículos de aseo
                                                        gratis.</p>
                                                    <p class="full">La habitación está equipada con caja fuerte, TV con
                                                        canales internacionales, teléfono, aire acondicionado y
                                                        calefacción regulable, secador de pelo, armarios con luz
                                                        interior y escritorio. Wifi gratis.</p>
                                                    <p class="full">Todas las habitaciones disponen de cable LAN para
                                                        usar nuestra fibra óptica gratuitamente. Superficie aproximada
                                                        23 m2. + la terraza.</p>
                                                </span></div>
                                            <div class="wbkv9-Entity-readMore _25sso2ThMtEtsJeNlelH4F"><span>Saber
                                                    más</span></div>
                                        </div>
                                    </div>
                                    <div
                                        class="wbkv9-Entity-ariContainer wbkv9-Entity-ariContainer-notAvailable _3XRnTb7Ge5OHN6jrsOqltj _1BcpKPQO1H8qQoOuIKZIRQ">
                                        <div class="wbkv9-Entity-name _30kPfuzLmiPUaoGbLFuWuP">Habitación Superior (1 o
                                            2 pax)</div>
                                        <div
                                            class="wbkv9-Entity-unavailableLabel wbkv9-Entity-availabilityLabel _2Qu62RKy1MIpSS7LmEfPE5 _3rsQTweJ9UVWKFxFPonNbt">
                                            Agotada</div>
                                        <div class="wbkv9-Entity-buttonWrapper _3vqnfs48yZz_Ncaf3s1rws">
                                            <div class="wbkv9-Entity-buttonLink _1vJ_VlJy-Cq8E_hUIkYNdE">Ver opciones
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="wbkv9-Entity-container _3HdkwWnIugh-zhuIVBx3fR _2_3xiX0KsX3XauZGMPazen">
                            <div class="wbkv9-Entity-wrapper _3m1rQ10bj0gda8v8AYAL3h">
                                <div class="wbkv9-Entity-infoContainer _2u6MoL6NmG2Fdbz3tdwPWH">
                                    <div class="sc-jJkQYJ iiVQlw wbkv9-Entity-infoWrapper _1EHrjEtUBslofHa1-Qxvr6">
                                        <div class="wbkv9-Entity-name _30kPfuzLmiPUaoGbLFuWuP">Habitación Familiar</div>
                                        <div
                                            class="sc-cKZAiZ kqrSZN wbkv9-Entity-descriptionContainer iKbLQTQu8xnH4Dn5VHBrL">
                                            <div class="wbkv9-Entity-description _2t_03_bcggpV0BoVQ4Ki3c"><span>
                                                    <p class="full">Estancia ideal para familias. Dos habitaciones
                                                        dobles comunicadas compartiendo un pequeño hall. Totalmente
                                                        insonorizada con 4 camas individuales de 200 x 90 cm o bajo
                                                        petición, 1 cama matrimonial y 2 individuales. Suelo de parquet.
                                                        2 baños privados con bañera. Artículos de aseo gratis.</p>
                                                    <p class="full">La habitación está equipada con 2 cajas fuertes, 2
                                                        TV con canales internacionales, 2 teléfonos, aire acondicionado
                                                        y calefacción regulable, 2 secadores de pelo, amplios armarios
                                                        con luz interior y 2 escritorios. Wifi gratis.</p>
                                                    <p class="full">Todas las habitaciones disponen de cable LAN para
                                                        usar nuestra fibra óptica gratuitamente.</p>
                                                    <p class="full">Superficie aproximada 38 m2.</p>
                                                </span></div>
                                            <div class="wbkv9-Entity-readMore _25sso2ThMtEtsJeNlelH4F"><span>Saber
                                                    más</span></div>
                                        </div>
                                    </div>
                                    <div
                                        class="wbkv9-Entity-ariContainer wbkv9-Entity-ariContainer-notAvailable _3XRnTb7Ge5OHN6jrsOqltj _1BcpKPQO1H8qQoOuIKZIRQ">
                                        <div class="wbkv9-Entity-name _30kPfuzLmiPUaoGbLFuWuP">Habitación Familiar</div>
                                        <div
                                            class="wbkv9-Entity-unavailableLabel wbkv9-Entity-availabilityLabel _2Qu62RKy1MIpSS7LmEfPE5 _3rsQTweJ9UVWKFxFPonNbt">
                                            Agotada</div>
                                        <div class="wbkv9-Entity-buttonWrapper _3vqnfs48yZz_Ncaf3s1rws">
                                            <div class="wbkv9-Entity-buttonLink _1vJ_VlJy-Cq8E_hUIkYNdE">Ver opciones
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!--End bootstrap-->
    <!--My own js-->
    <script src="../models/hotels.js"></script>
    <script src="../controllers/main.js"></script>
    <script src="../controllers/function.js"></script>
    <!-- End my own js-->
</body>

</html>