<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Info</title>
</head>

<body>
    <div class="container">
        <div class="sc-gUlUPW cilZDb">
            <div class="wbkv9-Inventory _2ZLcRkAOvreN7yRIjMnpu_">
                <div name="dbl_2a_SA_cg"></div>
                <div class="wbkv9-Inventory-info _2wMNJ3Yy45a9f9zll4XufA">
                    <div class="C1u3HJJcp21aIxl39XdXD">
                        <div class="wbkv9-InventoryDescription _1PmtNBvWYYgZr-EEsjKHBn">
                            <div class="sc-cpHetk dWXphD wbkv9-InventoryLine ">
                                <div class="sc-gNJABI ilGzP wbkv9-InventoryLine-Title">
                                    <div class="sc-yZwTr cfjUkB wbkv9-InventoryLine-Title-BlockOne">Sólo alojamiento
                                    </div><span>
                                        <div class="sc-hwcHae bZOFZw">-</div>
                                    </span>
                                    <div class="sc-fjhmcy kacerI wbkv9-InventoryLine-Title-BlockTwo">Cancelación
                                        gratuita<div class="wbkv9-ConditionBadge G5bjBsKKS9hPQBWOw61wf"
                                            style="color: rgb(13, 153, 0); border: 1px solid rgb(13, 153, 0);">Cg</div>
                                    </div>
                                </div>
                                <div class="sc-lnmtFM dupgxH wbkv9-InventoryLine-Description">
                                    <div class="sc-erNlkL ifYDsY">
                                        <div class="sc-kEmuub dIXEdi wbkv9-InventoryLine-Description-BlockOne">2
                                            personas</div>
                                        <div class="sc-kEmuub dIXEdi wbkv9-InventoryLine-Description-BlockTwo"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="sc-bbkauy iwmXBH wbkv9-InventoryLine-Details">
                                        <div class="sc-ghsgMZ cbgJZi">
                                            <div class="sc-fihHvN fiqdeJ">
                                            </div>
                                            <div class="sc-dznXNo eiKjCG wbkv9-InventoryLine-Details-BlockOne">No se
                                                requiere depósito</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc-ciodno DXORN wbkv9-InventoryLine-Actions">
                                    <div class="sc-gGCbJM hxIhDc wbkv9-InventoryLine-Actions-BlockOne">Condiciones</div>
                                    <div class="sc-crNyjn eXVGtK">|</div>
                                    <div class="sc-bqjOQT htQaTJ wbkv9-InventoryLine-Actions-BlockTwo">Disponibilidad
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wbkv9-InventoryRates _1BF3h28tcrQxCekFOKWrCt">
                            <div class="_12U0qP0YdNGdWLRXhrTsl7">
                                <div class="wbkv9-IntentoryRates-labelsContainer Gg8ZOm1SzF7V64LgIJdrp">
                                    <div class="_1_UPKCs1RwFliQwT8Lak1A"><span>Sólo quedan 4!</span></div>
                                    <div class="wbkv9-InventoryRates-discountPercentage _1ZEKL72S126VVa6HGRJQah">
                                        -12,56&nbsp;%</div>
                                </div>
                                <div class="_2B710zY9cyCW56ZKi3b6K7">
                                    <div class="sc-bkypNX fBCSdf _2B710zY9cyCW56ZKi3b6K7 null">
                                        <div
                                            class="wbkv9-InventoryRates-discountPercentage _1ZEKL72S126VVa6HGRJQah TM_yPcJa2xWwgcUWfRbGs">
                                            -12,56&nbsp;%</div>
                                        <div
                                            class="wbkv9-InventoryRates-availability _1YDKq2kHMzacBouipknEPZ _1iCkK_WBNvjUEkqtuLg524">
                                            <div class="wbkv9-InventoryRates-rateContainer _1ib9s2NCPc67tj2AQSoMUg">
                                                <div class="_613TcPDmLv9cSTvubQTOL"><span>EUR</span></div><span
                                                    class="wbkv9-InventoryRates-strikedPrice _1nVSJvv9ntnCvW-YNg8qZM"><span>398,00</span></span>
                                                <div class="wbkv9-Amount Amount _3YhVhWYo3wT0j4dQHR-2Cv">
                                                    <div class="wbkv9-Amount-integerPart integerPart">348</div>
                                                    <div
                                                        class="wbkv9-Amount-decimalPart decimalPart My12ibXnlmnRt8bi07u1C">
                                                        00</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="wbkv9-InventoryRates-pricePerNightContainer yUz7lamnjeunAmh8ZlGBb _1iCkK_WBNvjUEkqtuLg524">
                                            <div>69,60 /noche</div>
                                        </div>
                                    </div>
                                    <div class="eXViXqwIBLwnf4-keDox_ _312YIgBrMwcz-Iiz-Ci2P6">
                                        <span>Disponibilidad</span>
                                    </div>
                                </div>
                                <div class="wbkv9-InventoryRates-unitSelectorWrapper _3FiLhhOZkc_v7K7uKid_wJ null">
                                    <div class="_1_UPKCs1RwFliQwT8Lak1A STCZR1KNf_Ri7gsre1rqa"><span>Sólo quedan
                                            4!</span></div>
                                    <div class="wbkv9-InventoryRates-unitSelectorContainer _1kWXfE1LSFMYDVjfpL-O1w">
                                        <div class="wbkv9-InventoryRates-unitSelector _3mZUugaZFzsUqieDcrcrno"><select
                                                class="wbkv9-DefaultSelector _2baLR1PWpkJ9XGxTW7AAUS">
                                                <option>1 habitación</option>
                                                <option>2 habitaciones</option>
                                                <option>3 habitaciones</option>
                                                <option>4 habitaciones</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div
                                        class="wbkv9-InventoryRates-bookNowButton _3eP-n_F1vWceZNnsdm9Ths X7Yd0JU1Y8DShoyqwaYNP">
                                        <span>reservar</span>
                                    </div>
                                </div>
                            </div>
                            <div class="_1iCkK_WBNvjUEkqtuLg524">
                                <div class=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wbkv9-Inventory _2ZLcRkAOvreN7yRIjMnpu_ fNFqqVph6Jl6Mtu3yYNZ- wbkv9-Inventory--disabled">
                <div name="dbl_2a_HD_cg"></div>
                <div class="wbkv9-Inventory-info _2wMNJ3Yy45a9f9zll4XufA">
                    <div class="C1u3HJJcp21aIxl39XdXD">
                        <div class="wbkv9-InventoryDescription _1PmtNBvWYYgZr-EEsjKHBn">
                            <div class="sc-cpHetk dWXphD wbkv9-InventoryLine ">
                                <div class="sc-gNJABI ilGzP wbkv9-InventoryLine-Title">
                                    <div class="sc-yZwTr cfjUkB wbkv9-InventoryLine-Title-BlockOne">Con desayuno</div>
                                    <span>
                                        <div class="sc-hwcHae bZOFZw">-</div>
                                    </span>
                                    <div class="sc-fjhmcy kacerI wbkv9-InventoryLine-Title-BlockTwo">
                                        Cancelación gratuita
                                        <div class="wbkv9-ConditionBadge G5bjBsKKS9hPQBWOw61wf"
                                            style="color: rgb(13, 153, 0); border: 1px solid rgb(13, 153, 0);">
                                            Cg
                                        </div>
                                    </div>
                                </div>
                                <div class="sc-lnmtFM dupgxH wbkv9-InventoryLine-Description">
                                    <div class="sc-erNlkL ifYDsY">
                                        <div class="sc-kEmuub dIXEdi wbkv9-InventoryLine-Description-BlockOne">
                                            2 personas
                                        </div>
                                        <div class="sc-kEmuub dIXEdi wbkv9-InventoryLine-Description-BlockTwo"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="sc-bbkauy iwmXBH wbkv9-InventoryLine-Details">
                                        <div class="sc-ghsgMZ cbgJZi">

                                            <div class="sc-dznXNo eiKjCG wbkv9-InventoryLine-Details-BlockOne">
                                                No se requiere depósito
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc-ciodno DXORN wbkv9-InventoryLine-Actions">
                                    <div class="sc-gGCbJM hxIhDc wbkv9-InventoryLine-Actions-BlockOne">Condiciones</div>
                                    <div class="sc-crNyjn eXVGtK">|</div>
                                    <div class="sc-bqjOQT htQaTJ wbkv9-InventoryLine-Actions-BlockTwo">Disponibilidad
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wbkv9-InventoryRates _1BF3h28tcrQxCekFOKWrCt">
                            <div class="_1iCkK_WBNvjUEkqtuLg524">
                                <div class="BYWBtevd70H6jIdvMWiAh wbkv9-InventoryRates-status--soldOut">
                                    <div class="wbkv9-BookableErrorMessage -jMpAunxzbyCNWEJ6maAp">agotada</div>
                                </div>
                                <div class="wbkv9-InventoryRates-availabilityLink _12cxTVA3mp1JYLsjWCNGEU">Ver
                                    disponibilidad</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wbkv9-Inventory _2ZLcRkAOvreN7yRIjMnpu_ fNFqqVph6Jl6Mtu3yYNZ- wbkv9-Inventory--disabled">
                <div name="dbl_2a_HD_nr"></div>
                <div class="wbkv9-Inventory-info _2wMNJ3Yy45a9f9zll4XufA">
                    <div class="C1u3HJJcp21aIxl39XdXD">
                        <div class="wbkv9-InventoryDescription _1PmtNBvWYYgZr-EEsjKHBn">
                            <div class="sc-cpHetk dWXphD wbkv9-InventoryLine ">
                                <div class="sc-gNJABI ilGzP wbkv9-InventoryLine-Title">
                                    <div class="sc-yZwTr cfjUkB wbkv9-InventoryLine-Title-BlockOne">Con desayuno</div>
                                    <span>
                                        <div class="sc-hwcHae bZOFZw">-</div>
                                    </span>
                                    <div class="sc-fjhmcy kacerI wbkv9-InventoryLine-Title-BlockTwo">No reembolsable<div
                                            class="wbkv9-ConditionBadge G5bjBsKKS9hPQBWOw61wf"
                                            style="color: rgb(173, 7, 7); border: 1px solid rgb(173, 7, 7);">Nr</div>
                                    </div>
                                </div>
                                <div class="sc-lnmtFM dupgxH wbkv9-InventoryLine-Description">
                                    <div class="sc-erNlkL ifYDsY">
                                        <div class="sc-kEmuub dIXEdi wbkv9-InventoryLine-Description-BlockOne">2
                                            personas</div>
                                        <div class="sc-kEmuub dIXEdi wbkv9-InventoryLine-Description-BlockTwo"></div>
                                    </div>
                                </div>
                                <div class="sc-ciodno DXORN wbkv9-InventoryLine-Actions">
                                    <div class="sc-gGCbJM hxIhDc wbkv9-InventoryLine-Actions-BlockOne">Condiciones</div>
                                    <div class="sc-crNyjn eXVGtK">|</div>
                                    <div class="sc-bqjOQT htQaTJ wbkv9-InventoryLine-Actions-BlockTwo">Disponibilidad
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wbkv9-InventoryRates _1BF3h28tcrQxCekFOKWrCt">
                            <div class="_1iCkK_WBNvjUEkqtuLg524">
                                <div class="BYWBtevd70H6jIdvMWiAh wbkv9-InventoryRates-status--soldOut">
                                    <div class="wbkv9-BookableErrorMessage -jMpAunxzbyCNWEJ6maAp">agotada</div>
                                </div>
                                <div class="wbkv9-InventoryRates-availabilityLink _12cxTVA3mp1JYLsjWCNGEU">Ver
                                    disponibilidad</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wbkv9-Inventory _2ZLcRkAOvreN7yRIjMnpu_ fNFqqVph6Jl6Mtu3yYNZ- wbkv9-Inventory--disabled">
                <div name="dbl_2a_SA_nr"></div>
                <div class="wbkv9-Inventory-info _2wMNJ3Yy45a9f9zll4XufA">
                    <div class="C1u3HJJcp21aIxl39XdXD">
                        <div class="wbkv9-InventoryDescription _1PmtNBvWYYgZr-EEsjKHBn">
                            <div class="sc-cpHetk dWXphD wbkv9-InventoryLine ">
                                <div class="sc-gNJABI ilGzP wbkv9-InventoryLine-Title">
                                    <div class="sc-yZwTr cfjUkB wbkv9-InventoryLine-Title-BlockOne">Sólo alojamiento
                                    </div><span>
                                        <div class="sc-hwcHae bZOFZw">-</div>
                                    </span>
                                    <div class="sc-fjhmcy kacerI wbkv9-InventoryLine-Title-BlockTwo">No reembolsable<div
                                            class="wbkv9-ConditionBadge G5bjBsKKS9hPQBWOw61wf"
                                            style="color: rgb(173, 7, 7); border: 1px solid rgb(173, 7, 7);">Nr</div>
                                    </div>
                                </div>
                                <div class="sc-lnmtFM dupgxH wbkv9-InventoryLine-Description">
                                    <div class="sc-erNlkL ifYDsY">
                                        <div class="sc-kEmuub dIXEdi wbkv9-InventoryLine-Description-BlockOne">2
                                            personas</div>
                                        <div class="sc-kEmuub dIXEdi wbkv9-InventoryLine-Description-BlockTwo"></div>
                                    </div>
                                </div>
                                <div class="sc-ciodno DXORN wbkv9-InventoryLine-Actions">
                                    <div class="sc-gGCbJM hxIhDc wbkv9-InventoryLine-Actions-BlockOne">Condiciones</div>
                                    <div class="sc-crNyjn eXVGtK">|</div>
                                    <div class="sc-bqjOQT htQaTJ wbkv9-InventoryLine-Actions-BlockTwo">Disponibilidad
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wbkv9-InventoryRates _1BF3h28tcrQxCekFOKWrCt">
                            <div class="_1iCkK_WBNvjUEkqtuLg524">
                                <div class="BYWBtevd70H6jIdvMWiAh wbkv9-InventoryRates-status--soldOut">
                                    <div class="wbkv9-BookableErrorMessage -jMpAunxzbyCNWEJ6maAp">agotada</div>
                                </div>
                                <div class="wbkv9-InventoryRates-availabilityLink _12cxTVA3mp1JYLsjWCNGEU">Ver
                                    disponibilidad</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>